#table-div {
    position: absolute;
    top: 120px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 60%;
}
th, td {
    padding: 15px;
    text-align: center;
}
th {
    background-color: #4CAF50;
    color: white;
}
#returnLink {
    position:absolute;
    font-size:1.3em;
    bottom:0px;
    left:35%;
}