#iconeHome {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    right: 130px;
}
#iconeRelatorio {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    right: 60px;
}
#returnLink {
    margin-top: 30px;
    font-size:1.2em;
}
td input {
    background-color: #FF2050;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}
#botaoConcluirCompra {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
}
#botaoConcluirCompra:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}