#iconeHome {
    border-radius: 15%;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    right: 130px;
}
#iconeCarrinho {
    border-radius: 15%;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    right: 60px;
}